.number-0 {
  color: rgb(0, 255, 0);
}

.number-1 {
  color: rgb(1, 255, 0);
}

.number-2 {
  color: rgb(2, 254, 0);
}

.number-3 {
  color: rgb(3, 253, 0);
}

.number-4 {
  color: rgb(4, 252, 0);
}

.number-5 {
  color: rgb(5, 251, 0);
}

.number-6 {
  color: rgb(6, 250, 0);
}

.number-7 {
  color: rgb(7, 249, 0);
}

.number-8 {
  color: rgb(8, 248, 0);
}

.number-9 {
  color: rgb(9, 247, 0);
}

.number-10 {
  color: rgb(10, 246, 0);
}

.number-11 {
  color: rgb(11, 245, 0);
}

.number-12 {
  color: rgb(12, 244, 0);
}

.number-13 {
  color: rgb(13, 243, 0);
}

.number-14 {
  color: rgb(14, 242, 0);
}

.number-15 {
  color: rgb(15, 241, 0);
}

.number-16 {
  color: rgb(16, 240, 0);
}

.number-17 {
  color: rgb(17, 239, 0);
}

.number-18 {
  color: rgb(18, 238, 0);
}

.number-19 {
  color: rgb(19, 237, 0);
}

.number-20 {
  color: rgb(20, 236, 0);
}

.number-21 {
  color: rgb(21, 235, 0);
}

.number-22 {
  color: rgb(22, 234, 0);
}

.number-23 {
  color: rgb(23, 233, 0);
}

.number-24 {
  color: rgb(24, 232, 0);
}

.number-25 {
  color: rgb(25, 231, 0);
}

.number-26 {
  color: rgb(26, 230, 0);
}

.number-27 {
  color: rgb(27, 229, 0);
}

.number-28 {
  color: rgb(28, 228, 0);
}

.number-29 {
  color: rgb(29, 227, 0);
}

.number-30 {
  color: rgb(30, 226, 0);
}

.number-31 {
  color: rgb(31, 225, 0);
}

.number-32 {
  color: rgb(32, 224, 0);
}

.number-33 {
  color: rgb(33, 223, 0);
}

.number-34 {
  color: rgb(34, 222, 0);
}

.number-35 {
  color: rgb(35, 221, 0);
}

.number-36 {
  color: rgb(36, 220, 0);
}

.number-37 {
  color: rgb(37, 219, 0);
}

.number-38 {
  color: rgb(38, 218, 0);
}

.number-39 {
  color: rgb(39, 217, 0);
}

.number-40 {
  color: rgb(40, 216, 0);
}

.number-41 {
  color: rgb(41, 215, 0);
}

.number-42 {
  color: rgb(42, 214, 0);
}

.number-43 {
  color: rgb(43, 213, 0);
}

.number-44 {
  color: rgb(44, 212, 0);
}

.number-45 {
  color: rgb(45, 211, 0);
}

.number-46 {
  color: rgb(46, 210, 0);
}

.number-47 {
  color: rgb(47, 209, 0);
}

.number-48 {
  color: rgb(48, 208, 0);
}

.number-49 {
  color: rgb(49, 207, 0);
}

.number-50 {
  color: rgb(50, 206, 0);
}

.number-51 {
  color: rgb(51, 205, 0);
}

.number-52 {
  color: rgb(52, 204, 0);
}

.number-53 {
  color: rgb(53, 203, 0);
}

.number-54 {
  color: rgb(54, 202, 0);
}

.number-55 {
  color: rgb(55, 201, 0);
}

.number-56 {
  color: rgb(56, 200, 0);
}

.number-57 {
  color: rgb(57, 199, 0);
}

.number-58 {
  color: rgb(58, 198, 0);
}

.number-59 {
  color: rgb(59, 197, 0);
}

.number-60 {
  color: rgb(60, 196, 0);
}

.number-61 {
  color: rgb(61, 195, 0);
}

.number-62 {
  color: rgb(62, 194, 0);
}

.number-63 {
  color: rgb(63, 193, 0);
}

.number-64 {
  color: rgb(64, 192, 0);
}

.number-65 {
  color: rgb(65, 191, 0);
}

.number-66 {
  color: rgb(66, 190, 0);
}

.number-67 {
  color: rgb(67, 189, 0);
}

.number-68 {
  color: rgb(68, 188, 0);
}

.number-69 {
  color: rgb(69, 187, 0);
}

.number-70 {
  color: rgb(70, 186, 0);
}

.number-71 {
  color: rgb(71, 185, 0);
}

.number-72 {
  color: rgb(72, 184, 0);
}

.number-73 {
  color: rgb(73, 183, 0);
}

.number-74 {
  color: rgb(74, 182, 0);
}

.number-75 {
  color: rgb(75, 181, 0);
}

.number-76 {
  color: rgb(76, 180, 0);
}

.number-77 {
  color: rgb(77, 179, 0);
}

.number-78 {
  color: rgb(78, 178, 0);
}

.number-79 {
  color: rgb(79, 177, 0);
}

.number-80 {
  color: rgb(80, 176, 0);
}

.number-81 {
  color: rgb(81, 175, 0);
}

.number-82 {
  color: rgb(82, 174, 0);
}

.number-83 {
  color: rgb(83, 173, 0);
}

.number-84 {
  color: rgb(84, 172, 0);
}

.number-85 {
  color: rgb(85, 171, 0);
}

.number-86 {
  color: rgb(86, 170, 0);
}

.number-87 {
  color: rgb(87, 169, 0);
}

.number-88 {
  color: rgb(88, 168, 0);
}

.number-89 {
  color: rgb(89, 167, 0);
}

.number-90 {
  color: rgb(90, 166, 0);
}

.number-91 {
  color: rgb(91, 165, 0);
}

.number-92 {
  color: rgb(92, 164, 0);
}

.number-93 {
  color: rgb(93, 163, 0);
}

.number-94 {
  color: rgb(94, 162, 0);
}

.number-95 {
  color: rgb(95, 161, 0);
}

.number-96 {
  color: rgb(96, 160, 0);
}

.number-97 {
  color: rgb(97, 159, 0);
}

.number-98 {
  color: rgb(98, 158, 0);
}

.number-99 {
  color: rgb(99, 157, 0);
}

.number-100 {
  color: rgb(100, 156, 0);
}

.number-101 {
  color: rgb(101, 155, 0);
}

.number-102 {
  color: rgb(102, 154, 0);
}

.number-103 {
  color: rgb(103, 153, 0);
}

.number-104 {
  color: rgb(104, 152, 0);
}

.number-105 {
  color: rgb(105, 151, 0);
}

.number-106 {
  color: rgb(106, 150, 0);
}

.number-107 {
  color: rgb(107, 149, 0);
}

.number-108 {
  color: rgb(108, 148, 0);
}

.number-109 {
  color: rgb(109, 147, 0);
}

.number-110 {
  color: rgb(110, 146, 0);
}

.number-111 {
  color: rgb(111, 145, 0);
}

.number-112 {
  color: rgb(112, 144, 0);
}

.number-113 {
  color: rgb(113, 143, 0);
}

.number-114 {
  color: rgb(114, 142, 0);
}

.number-115 {
  color: rgb(115, 141, 0);
}

.number-116 {
  color: rgb(116, 140, 0);
}

.number-117 {
  color: rgb(117, 139, 0);
}

.number-118 {
  color: rgb(118, 138, 0);
}

.number-119 {
  color: rgb(119, 137, 0);
}

.number-120 {
  color: rgb(120, 136, 0);
}

.number-121 {
  color: rgb(121, 135, 0);
}

.number-122 {
  color: rgb(122, 134, 0);
}

.number-123 {
  color: rgb(123, 133, 0);
}

.number-124 {
  color: rgb(124, 132, 0);
}

.number-125 {
  color: rgb(125, 131, 0);
}

.number-126 {
  color: rgb(126, 130, 0);
}

.number-127 {
  color: rgb(127, 129, 0);
}

.number-128 {
  color: rgb(128, 128, 0);
}

.number-129 {
  color: rgb(129, 127, 0);
}

.number-130 {
  color: rgb(130, 126, 0);
}

.number-131 {
  color: rgb(131, 125, 0);
}

.number-132 {
  color: rgb(132, 124, 0);
}

.number-133 {
  color: rgb(133, 123, 0);
}

.number-134 {
  color: rgb(134, 122, 0);
}

.number-135 {
  color: rgb(135, 121, 0);
}

.number-136 {
  color: rgb(136, 120, 0);
}

.number-137 {
  color: rgb(137, 119, 0);
}

.number-138 {
  color: rgb(138, 118, 0);
}

.number-139 {
  color: rgb(139, 117, 0);
}

.number-140 {
  color: rgb(140, 116, 0);
}

.number-141 {
  color: rgb(141, 115, 0);
}

.number-142 {
  color: rgb(142, 114, 0);
}

.number-143 {
  color: rgb(143, 113, 0);
}

.number-144 {
  color: rgb(144, 112, 0);
}

.number-145 {
  color: rgb(145, 111, 0);
}

.number-146 {
  color: rgb(146, 110, 0);
}

.number-147 {
  color: rgb(147, 109, 0);
}

.number-148 {
  color: rgb(148, 108, 0);
}

.number-149 {
  color: rgb(149, 107, 0);
}

.number-150 {
  color: rgb(150, 106, 0);
}

.number-151 {
  color: rgb(151, 105, 0);
}

.number-152 {
  color: rgb(152, 104, 0);
}

.number-153 {
  color: rgb(153, 103, 0);
}

.number-154 {
  color: rgb(154, 102, 0);
}

.number-155 {
  color: rgb(155, 101, 0);
}

.number-156 {
  color: rgb(156, 100, 0);
}

.number-157 {
  color: rgb(157, 99, 0);
}

.number-158 {
  color: rgb(158, 98, 0);
}

.number-159 {
  color: rgb(159, 97, 0);
}

.number-160 {
  color: rgb(160, 96, 0);
}

.number-161 {
  color: rgb(161, 95, 0);
}

.number-162 {
  color: rgb(162, 94, 0);
}

.number-163 {
  color: rgb(163, 93, 0);
}

.number-164 {
  color: rgb(164, 92, 0);
}

.number-165 {
  color: rgb(165, 91, 0);
}

.number-166 {
  color: rgb(166, 90, 0);
}

.number-167 {
  color: rgb(167, 89, 0);
}

.number-168 {
  color: rgb(168, 88, 0);
}

.number-169 {
  color: rgb(169, 87, 0);
}

.number-170 {
  color: rgb(170, 86, 0);
}

.number-171 {
  color: rgb(171, 85, 0);
}

.number-172 {
  color: rgb(172, 84, 0);
}

.number-173 {
  color: rgb(173, 83, 0);
}

.number-174 {
  color: rgb(174, 82, 0);
}

.number-175 {
  color: rgb(175, 81, 0);
}

.number-176 {
  color: rgb(176, 80, 0);
}

.number-177 {
  color: rgb(177, 79, 0);
}

.number-178 {
  color: rgb(178, 78, 0);
}

.number-179 {
  color: rgb(179, 77, 0);
}

.number-180 {
  color: rgb(180, 76, 0);
}

.number-181 {
  color: rgb(181, 75, 0);
}

.number-182 {
  color: rgb(182, 74, 0);
}

.number-183 {
  color: rgb(183, 73, 0);
}

.number-184 {
  color: rgb(184, 72, 0);
}

.number-185 {
  color: rgb(185, 71, 0);
}

.number-186 {
  color: rgb(186, 70, 0);
}

.number-187 {
  color: rgb(187, 69, 0);
}

.number-188 {
  color: rgb(188, 68, 0);
}

.number-189 {
  color: rgb(189, 67, 0);
}

.number-190 {
  color: rgb(190, 66, 0);
}

.number-191 {
  color: rgb(191, 65, 0);
}

.number-192 {
  color: rgb(192, 64, 0);
}

.number-193 {
  color: rgb(193, 63, 0);
}

.number-194 {
  color: rgb(194, 62, 0);
}

.number-195 {
  color: rgb(195, 61, 0);
}

.number-196 {
  color: rgb(196, 60, 0);
}

.number-197 {
  color: rgb(197, 59, 0);
}

.number-198 {
  color: rgb(198, 58, 0);
}

.number-199 {
  color: rgb(199, 57, 0);
}

.number-200 {
  color: rgb(200, 56, 0);
}

.number-201 {
  color: rgb(201, 55, 0);
}

.number-202 {
  color: rgb(202, 54, 0);
}

.number-203 {
  color: rgb(203, 53, 0);
}

.number-204 {
  color: rgb(204, 52, 0);
}

.number-205 {
  color: rgb(205, 51, 0);
}

.number-206 {
  color: rgb(206, 50, 0);
}

.number-207 {
  color: rgb(207, 49, 0);
}

.number-208 {
  color: rgb(208, 48, 0);
}

.number-209 {
  color: rgb(209, 47, 0);
}

.number-210 {
  color: rgb(210, 46, 0);
}

.number-211 {
  color: rgb(211, 45, 0);
}

.number-212 {
  color: rgb(212, 44, 0);
}

.number-213 {
  color: rgb(213, 43, 0);
}

.number-214 {
  color: rgb(214, 42, 0);
}

.number-215 {
  color: rgb(215, 41, 0);
}

.number-216 {
  color: rgb(216, 40, 0);
}

.number-217 {
  color: rgb(217, 39, 0);
}

.number-218 {
  color: rgb(218, 38, 0);
}

.number-219 {
  color: rgb(219, 37, 0);
}

.number-220 {
  color: rgb(220, 36, 0);
}

.number-221 {
  color: rgb(221, 35, 0);
}

.number-222 {
  color: rgb(222, 34, 0);
}

.number-223 {
  color: rgb(223, 33, 0);
}

.number-224 {
  color: rgb(224, 32, 0);
}

.number-225 {
  color: rgb(225, 31, 0);
}

.number-226 {
  color: rgb(226, 30, 0);
}

.number-227 {
  color: rgb(227, 29, 0);
}

.number-228 {
  color: rgb(228, 28, 0);
}

.number-229 {
  color: rgb(229, 27, 0);
}

.number-230 {
  color: rgb(230, 26, 0);
}

.number-231 {
  color: rgb(231, 25, 0);
}

.number-232 {
  color: rgb(232, 24, 0);
}

.number-233 {
  color: rgb(233, 23, 0);
}

.number-234 {
  color: rgb(234, 22, 0);
}

.number-235 {
  color: rgb(235, 21, 0);
}

.number-236 {
  color: rgb(236, 20, 0);
}

.number-237 {
  color: rgb(237, 19, 0);
}

.number-238 {
  color: rgb(238, 18, 0);
}

.number-239 {
  color: rgb(239, 17, 0);
}

.number-240 {
  color: rgb(240, 16, 0);
}

.number-241 {
  color: rgb(241, 15, 0);
}

.number-242 {
  color: rgb(242, 14, 0);
}

.number-243 {
  color: rgb(243, 13, 0);
}

.number-244 {
  color: rgb(244, 12, 0);
}

.number-245 {
  color: rgb(245, 11, 0);
}

.number-246 {
  color: rgb(246, 10, 0);
}

.number-247 {
  color: rgb(247, 9, 0);
}

.number-248 {
  color: rgb(248, 8, 0);
}

.number-249 {
  color: rgb(249, 7, 0);
}

.number-250 {
  color: rgb(250, 6, 0);
}

.number-251 {
  color: rgb(251, 5, 0);
}

.number-252 {
  color: rgb(252, 4, 0);
}

.number-253 {
  color: rgb(253, 3, 0);
}

.number-254 {
  color: rgb(254, 2, 0);
}

.number-255 {
  color: rgb(255, 1, 0);
}

.number-256 {
  color: rgb(255, 0, 0);
}

/*# sourceMappingURL=styles.css.map */
