* {
 box-sizing: border-box; 
}

html {
  --bg-primary: #eee;
  --font-primary: 1em "Fira Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: 0px;
  grid-gap: 10px;
  font: var(--font-primary);
}

header {
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-weight: 700;
  font-size: 30px;
}

nav {
  display: flex;
  justify-content: center;
  grid-gap: 20px;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  grid-gap: 10px;
}

.characteristic {
  flex: 1;
  justify-content: center;
  background-color: var(--bg-primary);
  padding: 10px;
}

.characteristic_title {
  text-align: center;
  font-weight: 700;
}

.columns {
  flex: 1;
  display: flex;
  grid-gap: 20px;
}

.column {
  background-color: var(--bg-primary);
  flex: 1;
  padding: 10px;
}

.column_name {
  font-weight: 700;
  text-align: center;
}

.menu {
  background-color: var(--bg-primary);
  padding: 10px;
}

footer {
  background-color: var(--bg-primary);
  display: flex;
  justify-content: center;
}
